/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html, body {
    height: 100%;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.row.center {
    margin-bottom: 0;
}

nav {
    background-color: #FF9800;
}

h1 {
    color: white;
    font-weight: 100;
}

#home {
    height: 100%;
    background-color: #00BFA5;
}

#info {
    background-color: #e2e2e2;
}

#lokation {
    height: 100%;
    background-color: #e2e2e2;;
}

a#button {
    border-radius: 100px;
    margin: 3% 3% 0 3%;
    background-color: #FF9800;
}

a#button:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
     background-color: #2bbbad;
}

a#buttonLogon {
    border-radius: 100px;
    margin: 0 2% 0 1%;
    background-color: #FF9800;
}

a#buttonFB {
    border-radius: 100px;
    margin: 0 0 0 1%;
    background-color: #0062ff;
}

a#buttonG {
    border-radius: 100px;
    margin: 0 1% 0 0;
    background-color: #f40505;
}
/*
.fixed-action-btn {
  position: fixed;
  right: 140px;
  bottom: 640px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
} */

footer.page-footer {
    margin-top: 0;
} 
